@*@page "/warning" *@

<style>
    .red-warning-text {
        background-color: red; /*  red background */
        color: black;
        padding: 10px;
        font-weight: bold;
        text-align: center;

    }
</style>

<div class="red-warning-text">
    Warning: Redaction Appears Ineffective

</div>
@code {

}
