@*@page "/warning" *@

<style>
    .warning-text {
        background-color: #FFD700; /* Dark yellow background */
        color: black;
        padding: 10px;
        font-weight: bold;
        text-align: center;

    }
</style>

<div class="warning-text">
    Warning: Potentially Negative Sentiment Detected
</div>
@code {

}
